body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#role-selection {
    margin-top: 10px;
}

.worker-container {
    position: relative;
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worker-icon {
    width: 60px;
    height: 60px;
    border-radius: 80%;
    margin-bottom: 30px;
}

.worker-info {
    text-align: center;
    margin-top: 10px;
    font-size: 18px; /* увеличенный шрифт */
}

.worker-info h2 {
    margin: 0;
}

.worker-info p {
    margin: 5px 0 0;
    font-size: 16px; /* увеличенный шрифт */
}

.logout-button {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 70px;
    height: 70px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #0056b3;
}

.objects-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
}

.object-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.object-status {
    font-size: 16px;
    color: #666;
}

.objects-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.manager-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.manager-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.manager-info {
    text-align: center;
    margin-top: 10px;
    font-size: 18px; /* увеличенный шрифт */
}

.manager-info h2 {
    margin: 0;
}

.manager-info p {
    margin: 5px 0 0;
    font-size: 16px; /* увеличенный шрифт */
}

.logout-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px; /* увеличенный шрифт */
}

.sections-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    padding: 0 10%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    font-size: 16px; /* увеличенный шрифт */
    width: 100%;
}

.section h1 {
    font-size: 18px; /* увеличенный шрифт для заголовков */
    margin-bottom: 20px;
}

.object-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.object-container button {
    margin-bottom: 10px;
    font-size: 16px; /* увеличенный шрифт */
}


.worker-table-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.worker-table-container h1 {
    font-size: 24px; /* увеличенный шрифт */
    margin-bottom: 20px;
}

.worker-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.worker-table th, .worker-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.worker-table th {
    background-color: #f2f2f2;
    font-size: 18px; /* увеличенный шрифт */
}

.worker-table td {
    font-size: 16px; /* увеличенный шрифт */
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.material-table-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.material-table-container h1 {
    font-size: 24px; /* увеличенный шрифт */
    margin-bottom: 20px;
}

.material-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.material-table th, .material-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.material-table th {
    background-color: #f2f2f2;
    font-size: 18px; /* увеличенный шрифт */
}

.material-table td {
    font-size: 16px; /* увеличенный шрифт */
}

.tasks-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
}

.task-container .task-left {
    flex: 1;
    text-align: left;
}

.task-container .task-right {
    flex: 1;
    text-align: right;
}

.task-right select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.object-details-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object-details-container h1, .object-details-container p {
    text-align: center;
}
